/* -- ------ --*/ 
/* -- Layout --*/
/* -- ------ --*/ 


#bodyTable{
  background-color: #fff;
  color: $mint;
  @include sans-serif-font;
  height:100% !important;
  margin:0;
  padding:0;
  width:100% !important;
}

.container {
  background-color: #241026; 
  @include radial-gradient-dark-purple;
  //@include flex-box-default;
  display: table;
  color: $mint;
  max-width: 750px;
  margin: 0 auto;
}

table.view-in-browser {
  background: #000;
  width: 100%;
  text-align: center;
  a {
    @include sans-font;
    color: white;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
  }
}

.inner-container {
  background-color: #543d7c;
  @include radial-gradient-dark-purple-2;
  @include sans-serif-font;
  display: table;
  text-align: center;
  border: 2px solid $mint;
  border-radius: 0 130px; 
  box-shadow: 0px 0px 20px #000;
  color: $mint;
  position: relative;
  margin: 20px;
  padding: 20px;
}

// Small devices (landscape phones, 400px and up)
@media (min-width: 400px) { .inner-container { -moz-border-radius: 0 140px; -webkit-border-radius: 0 140px; border-radius: 0 140px; } }
@media (min-width: 450px) { .inner-container { -moz-border-radius: 0 155px; -webkit-border-radius: 0 155px; border-radius: 0 155px; } }
@media (min-width: 500px) { .inner-container { -moz-border-radius: 0 170px; -webkit-border-radius: 0 170px; border-radius: 0 170px; } }
@media (min-width: 550px) { .inner-container { -moz-border-radius: 0 190px; -webkit-border-radius: 0 190px; border-radius: 0 190px; } }
@media (min-width: 600px) { .inner-container { -moz-border-radius: 0 200px; -webkit-border-radius: 0 200px; border-radius: 0 200px; } } 
@media (min-width: 650px) { .inner-container { -moz-border-radius: 0 220px; -webkit-border-radius: 0 220px; border-radius: 0 220px; } }
@media (min-width: 700px) { .inner-container { -moz-border-radius: 0 250px; -webkit-border-radius: 0 250px; border-radius: 0 250px; } }

table.content {
  position: relative;
  display: table;
  text-align: center;
  max-width: 600px;
  .content-th {
    text-align: center;
    margin: 0 auto;
  }
}

p,
.text { 
  @include text-shadow;
  display: block;
  text-align: center;
  text-transform: capitalize;
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 20px; 
}


img.header-title {
  margin-bottom: 20px;
}

.btn {
  @include sans-font;
  background-color: $mint;
  border: 1px solid #148040;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
  color: #fff;
  display: inline-block;
  text-shadow: 0px 0px 3px $secondary-color-dark;
  margin: 30px auto;
  padding: 15px 25px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #4eb748;
    box-shadow: 0px 0px 20px rgba(0,0,0,.5);
    -webkit-transform: scale(.99);
    transform: scale(.99);
  }
}

.btn-RSVP {

}

.btn-registry { 

}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }