/* -- ------ --*/ 
/* -- Layout --*/
/* -- ------ --*/ 

.container {
  @include radial-gradient-dark-purple;
  @include flex-box-default;
  color: $mint;
  min-width: 350px;
  max-width: 750px;
  height: 100%;
  min-height: 700px;
  border: 1px solid violet;
  margin: 0 auto;
}

.inner-container {
  @include flex-box-default;
  @include radial-gradient-dark-purple;
  @include drop-shadow-text;
  border: 2px solid $mint;
  border-radius: 0 35%;
  box-shadow: 0px 0px 20px #000;
  color: $mint;
  position: relative;
  margin: 20px;
  padding: 20px;
  text-align: center;
}


.content {
  position: relative;
  @include flex-box-default;
  flex-direction: column;
}

#crest-svg { 
  position: absolute;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: .2;
  g {
    fill: #fff;
  }
}

#lion-svg {
  @include svg-fill-color;
  @include drop-shadow;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 150px;
}

#stag-svg {
  @include svg-fill-color;
  @include drop-shadow;
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 150px;
}

#corner-top-right-svg {
  @include svg-fill-color;
  @include drop-shadow;
  position: absolute;
  top: -2px;
  right: -2px;
  width: 150px;
  transform: rotate(180deg);
}

#corner-bottom-left-svg {
  @include svg-fill-color;
  @include drop-shadow;
  position: absolute;
  bottom: -2px;
  left: -2px;
  width: 150px;
}

#title-svg {
  @include svg-fill-color;
  @include drop-shadow;
  max-width: 80%;
}

.intro {
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
}

.title {
  text-align: center;
  line-height: 1.5;
  font-size: 24px;
}

.date {

}

.btn-RSVP {
  text-align: center;
  margin: 30px auto;
  padding: 20px 25px;
  color: #fff;
  border: 1px solid $secondary-color-dark;
  border-radius: 5px;
  background-color: $secondary-color;
  cursor: pointer;
}