@mixin radial-gradient-dark-purple {
  background: #543d7c;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #543d7c 0%, #241026 99%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #543d7c 0%, #241026 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #543d7c 0%, #241026 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#543d7c', endColorstr='#241026', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

@mixin svg-fill-color {
  path {
    fill: $mint;
  }
  g {
    fill: $mint;
  }
}

@mixin drop-shadow {
  -webkit-filter: drop-shadow( 5px 5px 5px rgba(0,0,0,.8) ); 
          filter: drop-shadow( 5px 5px 5px rgba(0,0,0,.8) );
}

@mixin text-shadow {
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

@mixin flex-box-default {
  display:-webkit-flex;
  display:-ms-flexbox;
  display: flex;
  flex: 1;
}

@mixin sans-serif-font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@mixin sans-font {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}