@import 'master-reset';

.container {
  background: darkmagenta;
  color: lime;
  max-width: 750px;
  display: block;
  height: 100%;
  border: 1px solid violet;
}

.inner-container {
  border: 2px solid lime;
  background: purple;
  color: lime;
  position: relative;
  display: flex;
  flex-direction: column;
}

#lion-svg {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
}