/* Color Mixins */
/* RGB Colors */
/* -- ------------- --*/
/* -- Mastert Reset --*/
/* -- ------------- --*/
*,
*:before,
*:after {
  background-color: transparent;
  border-style: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
}

html, body {
  height: 100%;
}

/* -- ------ --*/
/* -- Layout --*/
/* -- ------ --*/
.container {
  background: #543d7c;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #543d7c 0%, #241026 99%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #543d7c 0%, #241026 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #543d7c 0%, #241026 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#543d7c', endColorstr='#241026', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: flex;
  flex: 1;
  color: #a3d291;
  min-width: 350px;
  max-width: 750px;
  height: 100%;
  min-height: 700px;
  border: 1px solid violet;
  margin: 0 auto;
}

.inner-container {
  display: flex;
  flex: 1;
  background: #543d7c;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #543d7c 0%, #241026 99%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #543d7c 0%, #241026 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #543d7c 0%, #241026 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#543d7c', endColorstr='#241026', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  text-shadow: 2px 2px #000;
  border: 2px solid #a3d291;
  border-radius: 0 35%;
  box-shadow: 0px 0px 20px #000;
  color: #a3d291;
  position: relative;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.content {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#crest-svg {
  position: absolute;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: .2;
}

#crest-svg g {
  fill: #fff;
}

#lion-svg {
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
  position: absolute;
  top: -10px;
  left: -10px;
  width: 150px;
}

#lion-svg path {
  fill: #a3d291;
}

#lion-svg g {
  fill: #a3d291;
}

#stag-svg {
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 150px;
}

#stag-svg path {
  fill: #a3d291;
}

#stag-svg g {
  fill: #a3d291;
}

#corner-top-right-svg {
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
  position: absolute;
  top: -2px;
  right: -2px;
  width: 150px;
  transform: rotate(180deg);
}

#corner-top-right-svg path {
  fill: #a3d291;
}

#corner-top-right-svg g {
  fill: #a3d291;
}

#corner-bottom-left-svg {
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
  position: absolute;
  bottom: -2px;
  left: -2px;
  width: 150px;
}

#corner-bottom-left-svg path {
  fill: #a3d291;
}

#corner-bottom-left-svg g {
  fill: #a3d291;
}

#title-svg {
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
  max-width: 80%;
}

#title-svg path {
  fill: #a3d291;
}

#title-svg g {
  fill: #a3d291;
}

.intro {
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
}

.title {
  text-align: center;
  line-height: 1.5;
  font-size: 24px;
}

.btn-RSVP {
  text-align: center;
  margin: 30px auto;
  padding: 20px 25px;
  color: #fff;
  border: 1px solid #00ca00;
  border-radius: 5px;
  background-color: #39ff14;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */